@mixin flex-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin  flex-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin elp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin elp-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@mixin elp-($m){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $m;
    overflow: hidden;
}

.app-head{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-main-menu{
        display: flex;
        justify-content: space-around;
        flex: 1;
        a{
            padding: 5px;
            font-size: 16px;
            color: #333;
        }
        .on{
            color: #000;
            font-weight: 700;
        }
        padding: 0 20px;
    }
    background: #fff;
}

.app-playbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 101;
    background: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-top: 1px solid #eee;
    .playbar-img>img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .playbar-info{
        padding: 0 10px;
        flex: 1;
        p{
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .playbar-name{
            font-size: 14px;
        }
        .playbar-singer{
            font-size: 12px;
        }
    }
    .playbar-ctrl{
        display: flex;
        align-items: center;
    }
}

.app-main{
    position: fixed;
    top: 54px;
    bottom: 50px;
    overflow: auto;
    width: 100%;
    background-color: #fff;
}

.app-banner{
    display: block;
    height: 100%;
}

.home-menu{
    @include flex-b;
    margin-top: 10px;
}

.home-menu-block{
    text-align: center;
    color: #fff;
    em{
        display: block;
        color: #333;
        font-style: normal;
    }
    span{
        display: block;
        border-radius: 50%;
        background: #d43c33;
        width: 40px;
        height: 40px;
        margin: auto;
    }
}

.grid-title{
    @include elp-2;
    text-align: left;
}

.grid-title-1{
    @include elp;
    text-align: left;
    display: block;
}

.play-count{
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
}

.home-title{
    font-weight: 700;
    @include flex-b;
    margin: 10px 0;
    em{
        font-style: normal;
        font-weight: normal;
        padding: 0 5px;
    }
    em.on{
        font-weight: 700;
    }
}
.morelink{
    float: right;
    font-size: 13px;
    color: #666;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 5px;
}

.tp{
    width: 100%;
}

.songdesc{
    transition: all .3s;
    opacity: 1;
}

.songdeschd{
    transition: all .3s;
    opacity: 0;
    display:  none;
}
.home-mv{
    margin: 10px 0;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.07);
}
.mv-cover{
    position: relative;
    img{
        border-radius: 5px;
        width: 100%;
        height: 200px;
    }
    .mv-mask{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.3);
        display: flex;
        >i{
            display: block;
            margin: auto;
            color: #fff;
            font-size: 30px;
        }
        span{
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;
            font-size: 14px;
        }
    }
}

.home-mv-info{
    background: #ddd;
    padding: 10px 5px;
    font-size: 16px;
    font-weight: 700;
    p{
        @include elp;
        margin: 0;
    }
}

.app-search{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #f5f5f9;
    top: 0;
    bottom: 50px;
    overflow: auto;
}

.hot-item{
    margin: 0 15px;
    padding: 10px 0;
    @include flex-b;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
}
.hot-search{
    display: block;
    margin: 0 -15px;
    &:active{
        background-color: #ececec;
    }
}

.item-num{
    font-size: 14px;
    margin-right: 15px;
}

.m-hot{
    color: #f40;
}

.item-info{
    @include flex-b;
    flex: 1;
    justify-content: flex-start;
    h4{
        font-size: 14px;
        margin: 0;
        @include elp;
    }
    p{
        margin: 0;
        color: #666;
        font-size: 12px;
        @include elp;
    }
}
.item-count{
    color: #666;
    font-size: 12px;
}

.search-cell{
    @include flex-b;
    h4{
        margin: 0;
        font-size: 14px;
        @include elp;
    }
    p{
        @include elp;
        margin: 0;
        font-size: 12px;
    }
    margin: 15px 15px;
}

.res-info{
    flex: 1;
    @include elp;
}

.ser-block{
    margin: 0 -15px;
}

.ser-album {
    h4,p{
        margin: 0 !important;
    }
    img{
        height: 60px;
        width: 60px;
    }
}

.ser-singer{
    @include flex-b;
    justify-content: flex-start;
    margin: 20px 15px;
    img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    p{
        @include elp;
        margin: 0;
    }
}

.serbar{
    position: relative;
    padding-left: 25px;
    >span{
        position: absolute;
        left: 5px;
        font-size: 20px;
        top: 6px;
    }
}

.ser-video{
    .weui-media-box__hd{
        width: 106px !important;
        position: relative;
        &::after{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.3);
        }
    }
    h4,p{
        margin: 0;
    }
    img{
        border-radius: 5px;
        width: 100%;
    }
    .vdo-count{
        position: absolute;
        right: 5px;
        top: -16px;
        color: #fff;
        z-index: 1;
    }
}

.laoding-mask{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 50px;
    z-index: 1000;
    background: rgba(0,0,0,.6);
    color: #fff;
    >i{
        display: block;
        margin: auto;
    }
}

.playing{
    animation: play 15s linear infinite;
}

@keyframes play{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.play-log{
    padding: 0 10px;
    @include flex-b;
    p{
        margin: 0;
        max-width: 80%;
        @include elp
    }
}

.app-album,.app-singer{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    bottom: 50px;
    overflow: auto;
    background: #fff;
}

.album-title{
    position: relative;
    padding-top: 60%;
    overflow: hidden;
    
}

.album-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: blur(3px);
    transform: scale(5);
    transform-origin: top left;
}

.album-info{
    position: absolute;
    bottom: 10px;
    padding: 0 10px;
    @include flex-b;
    max-width: 100%;
    width: 100%;
    // overflow: hidden;
}
.album-img{
    >img{
        width: 7rem;
        height: 7rem;
    }
    margin-right: 20px;
}
.album-txt{
    flex: 1;
    overflow: hidden;
    color: #fff;

}

.album-name,.album-art,.album-desc{
    @include elp;
    color: #fff;
    >img{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        vertical-align: bottom;
        margin-right: 15px;
    }
}

.album-desc{
    position: relative;
    >i{
        position: absolute;
        right: -7px;
        z-index: 1;
    }
}

.album-top{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
}

.navbar-txt{
    color: #fff;
    margin: 0;
}
.button-sp-area{
    padding: 15px 15px;
}

.album-details{
    display: none;
    position: fixed;
    bottom: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    overflow: auto;
    .cover{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        .bg{
            width: 100%;
            height: 100%;
            filter: blur(5px);
            transform: scale(6);
            transform-origin: top left;
        }
        .cbg{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
        }
        background: #fff;
    }
}

.details-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
    overflow: auto;
    left: 0;
    color: #fff;
    text-align: center;
    p{
        text-align: left;  
    }
    img{
        display: block;
        width: 150px;
        height: 150px;
        margin: 50px auto 20px;
    }
    h3{
        text-align: center;
        color: #fff;
    }
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.fade-enter {
    transition: all .2s ease-out;
    opacity: 0;
    display: none;
}
.fade-enter-active,.fade-enter-done{
    opacity: 1;
    display: block;
}



.fade-exit{
    transition: all .2s ease-out;
    opacity: 1;
    display: block;
}
.fade-exit-active,.fade-exit-done {
    opacity: 0;
}

.fade-exit-done{
    display: none;
}


.forward-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .forward-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }
  
  .forward-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .forward-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 500ms;
  }
  
  .back-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .back-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms;
  }
  
  .back-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .back-exit-active {
    opacity: 0;
    transform: translate(100%);
    transition: all 500ms;
  }

  .video-box{
      position: fixed;
      width: 100%;
      top: 0;
      bottom: 50px;
      z-index: 100;
      overflow: auto;
      background: #fff;
  }

  .video-intr{
      @include flex-b;
  }

  .video-creator{
      >img{
          border-radius: 50%;
          width: 25px;
          height: 25px;
        //   vertical-align: middle;
          margin-right: 10px;
      }
  }

  .play-info{
    >span{
        margin: 0 5px;
        >i{
            margin: 0 2px;
        }
    }
  }

  .video-title{
      margin-top: 10px;
  }

  .video-related{
      h4,p{
          margin: 0;
      }
      .weui-media-box__hd{
        width: 106px !important;
        position: relative;
        &::after{
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
        }
      }
      .vdo-count{
        position: absolute;
        right: 5px;
        top: -16px;
        color: #fff;
        z-index: 1;
      }
  }

  .video-info-wrap{
  }
  .video-comment{
      max-height: 400px;
      overflow: auto;
  }

  .singer-cover{
      position: relative;
      padding-top: 75%;
      background:{
          position: center;
          size: 100%;
          repeat: no-repeat;
      }
      .singer-name{
          position: absolute;
          bottom: 10px;
          left: 10px;
          h3,h4{
            color: #fff;
          }
          z-index: 100;
      }
      &::after{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.4);
      }
  }

  .singer-desc{
      @include elp-(4);
  }

  .simi-singer{
      overflow: auto;
      .simi-wrap{
          min-width: 100%;
          @include flex-b;
          >div{
              text-align: center;
              img{
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
              }
          }
      }
  }

.cmts{
    position: fixed;
    top: 0;
    bottom: 50px;
    z-index: 100;
    overflow: auto;
    width: 100%;
    background: #fff;
    left: 0;
    transform: translateY(100%);
    transition: all .5s;
}

.cmt-show{
    transform: translateY(0%);
    transition: all .5s;
}

.cmt-bar{
    position: fixed;
    top: 0;
    width: 100%;
}

.top-content{
    margin-top: 50px;
}

.top-block{
    margin-bottom: 20px;
}

.toplist{
    @include flex-b;
    padding: 5px 0;
    .top-cover{
        position: relative;
        width: 7rem;
        height: 7rem;
        margin-right: 10px;
        >img{
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }
    }
    .top-update{
        position: absolute;
        color: #fff;
        bottom: 5px;
        left: 5px;
        font-size: 12px;
        margin: 0;
    }
    .top-track{
        flex: 1;
        overflow: hidden;
        p{
            color: #333;
            font-size: 12px;
            @include elp;
            margin: 0;
            line-height: 2.5em;
        }
    }
}

.play-history,.my-sub{
    position: fixed;
    width: 100%;
    top: 50px;
    bottom: 50px;
    overflow: auto;
    background: #fff;
    z-index: 100;
    transform: translateX(100%);
    transition: all .3s;
}

.my-sub{
    overflow: hidden;
}

.play-history-show,.my-sub-show{
    transform: translateX(0%);
    transition: all .3s;
}


.drawer{
    background:{
        size: cover;
        repeat: no-repeat;
        position: center
    }
    .userImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .username{

    }
}


.start-bg{
    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
        image: url('/start.png');
        color: #000;
    }
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 200;
}

.last-time{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.4);
    padding: 5px 10px;
    color: #fff;
}

.login-btn{
    position: absolute;
    bottom: 25%;
    width: 100%;
    padding: 15%;
}