.music-skin{
		display: none;
	  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    color: #fff;
    background: url(https://code-mcx.github.io/vue-mango-music/static/img/play_bg.473725c.jpg) no-repeat 50%;
    background-size: cover;
}
.music-skin:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.3);
}
.skin_title,.cancel{
		color: #fff;
}
.cancel{
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 44px;
	font-size: 14px;
}
.skin_info{
	    height: 15px;
			line-height: 15px;
			padding-left: 15px;
			font-size: 15px;
			position: relative;
			margin-top: 60px;
}
.skin_info::before{
	  content: "";
    position: absolute;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #faebd7;
}
.skin_list{
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.skin_block{
	width: 28%;
	position: relative;
}
.skin_block i{
		position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 20px;
		color: #fff;
		display: none;
}
.skin_block>div{
	padding-bottom: 110%;
	position: relative;
}
.yellow{
	background-color: #FFA500;
    box-shadow: rgb(255, 215, 0) 0px 0px 3px;
}
.black{
	background-color: rgb(33, 33, 33);
  box-shadow: rgb(33, 33, 33) 0px 0px 3px;
}
.blue{
	background-color: rgb(44, 162, 249);
  box-shadow: rgb(44, 162, 249) 0px 0px 3px;
}
.red{
	background-color: rgb(212, 60, 51);
    box-shadow: rgb(212, 60, 51) 0px 0px 3px;
}
.green{
	background-color: rgb(49, 194, 124);
  box-shadow: rgb(49, 194, 124) 0px 0px 3px;
}
.skin_block p{
	color: #fff;
	text-align: center;
}
nav{
		display: flex;
    height: 34px;
    padding: 2px 0;
    line-height: 30px;
    text-align: center;
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		z-index: 10;
}
.tab_item{
	flex: 1;
	color: rgba(0, 0, 0, .7);
}
.tab_item span{
	display: block;
	width: 100%;
	font-size: 16px;
}
.yellowon{
	color: #FFA500 !important;
  border-bottom: 2px solid #FFA500;
}
.blackon{
	color: #FFD700 !important;
  border-bottom: 2px solid #FFD700;
}
.blueon{
	color: rgb(44, 162, 249) !important;
	border-bottom: 2px solid rgb(44, 162, 249);
}
.redon{
	color: rgb(212, 60, 51) !important;
	border-bottom: 2px solid rgb(212, 60, 51);
}
.greenon{
	color: rgb(49, 194, 124) !important;
	border-bottom: 2px solid rgb(49, 194, 124);
}

.main{
	top: 84px;
	position: absolute;
	bottom: 54px;
	width: 100%;
	left: 0;
	overflow: auto;
}
.block{
	display: none;
}
.skin-recommend-title{
	    height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 15px;
			font-weight: 400;
			border: none;
			margin: 0;
}
.pub_time{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
}
#recommand{
	position: relative;
}
#recommand img{
	height: 100%;
}
.mask{
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: #fff;
}
.load{
	margin: 20px auto;
	text-align: center;
}

footer{
	  position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 54px;
}

.player-img{
	position: absolute;
    width: 48px;
    height: 48px;
    left: 10px;
    top: -6px;
	border-radius: 50%;
	border: 2px solid rgba(221, 221, 221, 0.3);
}
.player-img img{
	width: 100%;
    height: 100%;
    border-radius: 50%;
}
.player-center{
	height: 54px;
    padding: 8px 15px 0 68px;
    box-sizing: border-box;
		
}
.song,.singer{
	display: block;
	max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-size: 14px;
	border: none !important;
	line-height: 1;
	padding: 4px 0;
}
.singer{
	padding: 0;
	margin: 0;
	font-size: 12px;
	padding: 0;
}
.play-right{
	position: absolute;
    top: 15px;
    right: 15px;
    padding: 1px;
	font-size: 26px;
	display: flex;
}
.play,.next{
	width: 26px;
	height: 26px;
}
#play_btn,#next_btn{
	width: 100%;
	height: 100%;
}
footer{
	padding: 0;
	text-align: left;
}
.play-right{
	
}

.sort_list li{
	margin: 15px;
	background: #fff;
}
.sort_list li a{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left{
	position: relative;
	width: 100px;
	height: 100px;
}
.left img{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.right{
		flex: 1;
		line-height: 22px;
    font-size: 14px;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
}
.right h1{
		font-size: 16px;
    margin: 4px 0 6px;
		color: #333;
}
.index{
	line-height: 22px;
	font-size: 14px;
	margin-right: 6px;
	color: #333;
}
.s_name{
	color: #333;
}
.sg{
	font-size: 14px;
	color: rgba(0,0,0,.5);
}
.right p{
	margin: 0;
}
.arrow{
	position: absolute;
    top: 50%;
    right: 0px;
    font-size: 12px;
    margin-top: -3px;
	color: #b2b2b2;;
}
.cover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.3);
}
#sort_mask,#singer_mask,#ser_mask{
	display: flex;
}

#sort_mask>.load,#singer_mask>.load,#ser_mask>.load{
	margin: auto;
}
.kind{
	padding: 10px 20px;
	font-size: 14px;
	position: fixed;
	top: 84px;
	left: 0;
	width: 100%;
	z-index: 10;
}
.kind a{
	padding: 3px 8px;
	text-align: center;
	border: 1px solid transparent;
	color: #333;
	font-size: 14px;
	line-height: 1;
}
.tag0{
	border-radius: 10px;
	color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}
.tag1{
	border-radius: 10px;
	color: #FFD700 !important;
    border: 1px solid #FFD700 !important;
}
.tag2{
	border-radius: 10px;
	color: #2CA2F9 !important;
    border: 1px solid #2CA2F9 !important;
}
.tag3{
	border-radius: 10px;
	color: #D43C33 !important;
    border: 1px solid #D43C33 !important;
}
.tag4{
	border-radius: 10px;
	color: #31C27C !important;
	border: 1px solid #31C27C !important;
}
#singers{
	top: 80px;
	padding: 0 20px;
}
#singers li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#singers li img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
#singers li span{
	max-width: 220px;
	margin-left: 10px;
	color: #333;
	font-size: 16px;
}
#searchInput{
	margin: 0;
	text-align: left;
}
.hotser{
	padding: 10px;
}
.hot_title{
	font-size: 14px;
	color: #31C27C;
	border: none !important;
}
.hot_item{
	float: left;
    padding: 5px 8px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, .7);
    color: #000000;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 1;
}
#searchBar{
	position: fixed;
	top: 84px;
	left: 0;
	width: 100%;
	z-index: 10;
}
.hotser{
	margin-top: 44px;
}
.ser_result{
	display: none;
}
.result_item{
	padding: 5px 10px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E5E5E5;
}
.result_item img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.s_song{
	padding: 3px 0 1px;
	font-size: 14px;
	margin: 0;
}
.s_singer{
	font-size: 12px;
	margin: 0;
}
.iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 50px;
	z-index: 100;
	display: none;
}
.iframe iframe{
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}